@import "src/styles/index";

:host {
  .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    &--content {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 10px;
      flex: 1;
      align-items: center;
      justify-items: center;
    }

    &--actions {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
    }

    &--button {
      cursor: pointer;
      border: 0;
      border-radius: 7px;
      padding: 10px;
      background-color: #eaeaea;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ccc;
      }
    }

    .shipment-status {
      display: inline-block;
      padding: 4px 8px;
      border-radius: 4px;
      color: $white;
      text-transform: capitalize;
      font-weight: bold;
      text-align: center;

      &.created {
        background-color: $error;
      }
      &.shipped {
        background-color: $warning;
      }
      &.delivered {
        background-color: $green;
      }
    }
  }
}
