<div class="list-item">
  <div class="list-item--content">
    <span class="shipment-date">
      <b>{{ item.createdAt | date : "mediumDate" }}</b>
    </span>
    <span class="shipment-status" [ngClass]="getStatusClass(item.status)">
      <b>{{ item.status }}</b>
    </span>
    <span class="product-name">
      {{ item.product.name }}
    </span>
    <span class="shipment-quantity"> Quantity: {{ item.quantity }} </span>
    <span class="shipment-price">
      Price:
      {{ item.product.unitPrice | currency : "EUR" : "symbol" }}
    </span>
    <span class="shipment-total">
      <b>Total:</b>
      {{ item.quantity * item.product.unitPrice | currency : "EUR" : "symbol" }}
    </span>
  </div>

  <div class="list-item--actions">
    <button class="list-item--button" (click)="editItem.emit()">
      Update status
    </button>
  </div>
</div>
