@import "src/styles/index";

:host {
  display: block;
  width: 100%;
}

.tabs {
  border-bottom: 1px solid $white;

  &--list {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  &--btn {
    display: block;
    padding: 10px;
    color: $primary-color;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    &:hover,
    &.active {
      background-color: $light-gray;
      color: $black;
    }
  }
}
